.pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 35px;
}

.pagination_container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: max-content;
  border: 1px solid #e3e3ea;
}

.pagination_container button {
  border: none;
  background: none;
  border-left: 1px solid #e3e3ea;
}

.pagination_container button:hover {
  background-color: #ebecf2;
}

.pagination_container button img {
  width: 15px;
  height: 15px;
}

.pagination_current {
  color: #9fa3b2;
  padding-left:10px;
  padding-right: 10px;
  margin: 10px;
}

.pagination_select {
  border: none;
  border-right: 1px solid #e3e3ea;
  font-weight: bold;
  color: #9fa3b2;
  padding-left: 10px;
}

.pagination_select:hover {
  background-color: #ebecf2;
}