.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 50px;
  margin-right: 50px;
}

.evolution-loading {
  position: relative;
  height: 96px;
}

.pokedex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 35px;
}

.pokemon_main {
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 90px;
  margin-top: 50px;
}

.pokemon_main-pokemon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon_main-pokemon {
  position: absolute;
  top: -60px;
}

.pokemon_main-name {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 0px;
}
.pokemon_main-genera {
  margin-top: 3px;
  color: gray;
}

.pokemon_main-flavor {
  height: 48px;
}

.pokemon_main-desc {
  color: #141D2B;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
}

.pokemon_main-ability-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;;
  padding: 0;
  margin-bottom: 10px;
}

.pokemon_main-ability {
  padding: 5px 20px;
  border-radius: 20px;
  border: 1px solid #bbf19e;
  background-color: #f5f8fa;
  color: #27374a;
  list-style: none;
  width: max-content;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.pokemon_main-first-stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokemon_main-weight {
  height: 10px;
  padding: 15px 60px;
  line-height: 10px;
  background-color: #f5f8fa;
  color: #27374a;
  border-radius: 20px;
  font-size: 18px;
}

.pokemon_main-real-stats {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.stats {
  display: flex;
  flex-direction: column;
  background-color: #f5f8fa;
  position: relative;
  border-radius: 30px;
  font-size: 10px;
  width: 40px;
  height:70px;
  align-items: center;
}

.stats-name {
  background-color: red;
  color: white;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3px;
}

.stats-value {
  margin-top: 5px;
  font-weight: bold;
}

.stats-hp {
  background-color: #df2140;
}

.stats-attack {
  background-color: #fe994d;
}

.stats-defense {
  background-color: #fedb49;
}

.stats-spa {
  background-color: #85ddfe;
}

.stats-spd {
  background-color: #a8f085;
}

.stats-speed {
  background-color: #f38a98;
}

.prev_button {
	border: none;
	padding: 0;
  color: #27374a;
  background-color: #eeeff1;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.prev_button:hover {
  background-color: #CECFD1;
}

.next_button {
	border: none;
	padding: 0;
  color: #27374a;
  background-color: #eeeff1;
  padding: 5px 20px;
  border-radius: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.next_button:hover {
  background-color: #CECFD1;
}

.next_button img {
  width: 20px;
  height: 20px;
}

.prev_button img {
  width: 20px;
  height: 20px;
}