.pokemon_main-evolution {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.evolution_levelup {
  background-color: #f5f8fa;
    color: gray;
    padding: 5px 10px;
    border-radius: 20px;
    margin: auto 0;
    margin-left: 0px;
    font-size: 13px;
}

.pagination_container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: max-content;
  border: 1px solid #e3e3ea;
  background-color: white;
}

.pagination_container button {
  border: none;
  background: none;
  border-left: 1px solid #e3e3ea;
}

.pagination_container button:hover {
  background-color: #ebecf2;
}

.pagination_container button img {
  width: 15px;
  height: 15px;
}

.pagination_current {
  color: #9fa3b2;
  padding-left:10px;
  padding-right: 10px;
  margin: 10px;
}

.search-bar {
  width: 90%;
  height: 30px;
  color: #9fa3b2;
  border: 1px solid #e3e3ea;
  padding: 10px 20px;
  border-radius: 20px;
  position: relative;
  font-weight: bold;
  font-family: 'Victor Mono', monospace;
}

.search-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin-top: 10px;
}

@media(min-width: 992px) {
  .search-wrapper {
    margin-top: 50px;
  } 
}

.button-wrapper {
  position: absolute;
  top: 10px;
  right: 50px;
}

.submit-button {
  border: none;
  background-color: unset;
  cursor: pointer;
  position: relative;
}

.pagination_select {
  border: none;
  border-right: 1px solid #e3e3ea;
  font-weight: bold;
  color: #9fa3b2;
  padding-left: 10px;
}

.pagination_select:hover {
  background-color: #ebecf2;
}

.error-modal {
  height: 50%;
}

.error-modal.pokecard-failed {
  height: 100%;
}

.error-modal.pokecard-failed .failed-text {
  padding: 0;
}

.failed-text {
  padding-bottom: 90px;
}

.pokeball-search-button {
  width: 30px;
  height: 30px;
  transition: all 1s;
}

.pokeball-search-button:hover {
  transform: rotate(180deg);
}

.weakness__image {
  width: 20px;
  height: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
}